// default style of some titles

.title {
    line-height: 30px;
    text-transform: uppercase;
    color: #32425C;
    font-family: "Cuprum", sans-serif;
    font-weight: 400;
    font-size: 30px;
}

// paragraph style
.description {
    line-height: 25px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
}